<!DOCTYPE html>
<html lang="en" ng-app="app" class="ie8">
<head>
    <meta charset="utf-8"/>
    <title>Dashboard</title>
    <meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" name="viewport"/>
    <meta content="Boodskap Inc.," name="author"/>

    <link href="/images/favicon.ico" rel="icon">


    <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">

    <link href="/css/bootstrap.min.css" rel="stylesheet"/>
    <link href="/css/fontawesome-all.min.css" rel="stylesheet"/>

    <link href="/css/style.css" rel="stylesheet"/>

    <link href="/css/datatables.min.css" rel=stylesheet>

    <script src="/lib/pace.min.js"></script>


</head>
<body ng-controller="layoutCtrl"> 

    <script src="/lib/angular.js"></script>
    <script src="/lib/angular-resource.js"></script>
    <script src="/lib/angular-route.js"></script>
    <script src="/lib/angular-route.min.js"></script>
    <script src="/lib/angular-ui-router.js"></script>
    
    <script src="/js/app.js"></script>

<script src="/lib/jquery-3.3.1.min.js"></script>
<script src="/lib/popper.min.js"></script>
<script src="/lib/bootstrap.min.js"></script>
<script src="/lib/js.cookie.js"></script>
<script src="/lib/sweetalert.min.js"></script>


<script src="/lib/async.js"></script>
<script src="/lib/moment.js"></script>
<script src="/lib/underscore-min.js"></script>
<script src="/lib/boodskap.ws.js"></script>


<script src="/lib/datatables.min.js" type="text/javascript"></script>


<script src="/js/platform-config.js"></script>
<script src="/js/variables.js"></script>
<script src="/js/utils.js"></script>

<script src="/js/controllers/layoutController.js"></script>
<script src="/js/controllers/washController.js"></script>
<script src="/js/services/washService.js"></script>

<script src="/js/api-adapter.js"></script>
<script src="/js/mqtt-adapter.js"></script>

<% include ./layout/header.html %>

<!-- <div ng-include src="'../layout/header.html'"></div> -->

<main style="position: relative;">
    <% include ./layout/leftmenu.html %>
    <!-- <div ng-include="'./layout/leftmenu.html'"></div> -->

</main>
<div ng-view></div>


<% include ./layout/footer.html %>
<!-- <div ng-include="'./layout/footer.html'"></div> -->

</body>
</html>

